<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>IMGController</servlet-name>
        <servlet-class>ua.cviewer.base.IMGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IMGGetController</servlet-name>
        <servlet-class>ua.cviewer.base.IMGGetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DialogController</servlet-name>
        <servlet-class>ua.cviewer.controllers.DialogController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IMGController</servlet-name>
        <url-pattern>/IMGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IMGGetController</servlet-name>
        <url-pattern>/IMGGetController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DialogController</servlet-name>
        <url-pattern>/DialogController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
